* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-image: linear-gradient(260deg, #a67ef1 0%, #412b85 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #f8ceec;
}
h1 {
  padding: 2rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
}
section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 800px;
}

.card {
  position: relative;
  box-shadow: hwb(254 3% 86%) 0px 5px 15px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 300px;
  -ms-perspective: 300px;
  -webkit-transform: 300px;
  height: 100%;
  width: 100%;

  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.05);
}
.back {
  background-color: #0e0724;
}
.back,
.face {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  backface-visibility: hidden;
  pointer-events: none;
}
.face {
  transform: rotateY(-180deg);
}
.toggleCard {
  transform: rotateY(180deg);
}

@media (max-width: 780px) {
  section {
    display: grid;
    grid-template-columns: repeat(4, 3rem);
    grid-template-rows: repeat(6, 4rem);
    grid-gap: 2rem;
  }
}
